<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Shop</title>
</head>
<body>
    <h1 class="timeline">Timeline</h1>
    <div class="container p-3 my-3 border" >
        <% for (let i = 0; i < allPosts.length; i++) { %> 
            <% let postItem = allPosts[i].get(); %> 
            <h2><%= postItem.title %></h2>
            <p>Description: <%= postItem.description %></p>
        <% } %> 
    </div>
</body>
</html>
