<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Shop</title>
</head>
<body>
    <div class="container">
    <p><%= allPosts[0].dataValues.title %></p>
    </div>
</body>
</html>
