<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>The Shop</title>
</head>
<body>
    <h1 class="header">Feed</h1>
    <% for( let i = 0; i < data.length; i++) { %> 
        <% let article = data[i] %> 
        <div class="container">
            <h2><%= article.title %></h2>
            <img src="<%= article.img %>" alt="">
            <p><%= article.content %></p>

        </div>
    <% } %> 
</body>
</html>
