<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Shop</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <!-- <style>
      .navbar-dar{
        padding: 50px 0;
      }
      .bgred {
        background: navy;
      }
    </style> -->

  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(25, 211, 164);">
      <a class="navbar-brand" href="/"><h1>The Shop</h1></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a href="/" class="nav-link">Home</a>
          </li>
          <li>
            <a href="/article/allposts" class="nav-link">Timeline</a>
          </li>
          <li class="nav-item">
            <a href="/auth/new" class="nav-link" id="post">Post</a>
          </li">
        </ul>
      </div>
    <ul class="navbar-nav">
        <% if (!currentUser) {%>
      <li>
      <a class='signup' href="/auth/signup" bg-dark>Signup</a>
     </li>

     <li>
        <a class='login' href="/auth/login">Login</a>
     </li>
     <% } else { %>
     <li>
        <a class='logout' href="/auth/logout">Logout</a>
      </li>
      <li>
        <a class='profile' href="/profile">Profile</a>
      </li>
      <% } %>
      </ul>
      </div>
    </div>
  </nav>
  <%- include('partials/alerts') %>
  <%- body %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
</html>

