
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body class="profile-page">
        <div class="container p-3 my-3 border" >
        <div class="row py-5 px-4">
            <div class="col-md-5 mx-auto">
                <!-- Profile widget -->
                <div class="bg-white shadow rounded overflow-hidden">
                    <div class="px-4 pt-0 pb-4 cover">
                        <!-- <div class="media align-items-end profile-head">
                            
                            <label for="inputFile">Image</label>
                            <input type="file" name="inputFile">
                            <button type="submit" class="imgbtn">Upload Image</button>
                            
                            <div class="media-body mb-5 text-white"> -->
                                <p class="small mb-4"> <i class="fas fa-map-marker-alt mr-2"></i></p>
                            </div>
                        </div>
                    </div>
                    <div class="px-4 py-3">
                        <h5 class="mb-0">About</h5>
                        <div>
                            <p>Name: <%= name %></p>
                            <p>Email: <%= email %></p>
                            <!-- <img src=" alt="Profile Picture"> -->
                        </div>
                    </div>
                    <div class="py-4 px-4">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <h5 class="mb-0">Recent Post</h5><a href="#" class="btn btn-link text-muted">Show all</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

        </div>
    </body>
    </html>