/* form {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} */
/* * {
  background-color: grey;
} */
#post {
} 

#title {
}

#description {

}

.navbar li {
  margin-left : 1em;
  margin-right : 1em;
}

.header {
  text-align: center;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}